.container {
  background: #ffebc1;
  border: 3px solid #fff;
  width: 90%;
  height: 85%;
  border-radius: 30px;
  max-width: 1000px;
  overflow: hidden;
}

@media only screen and (max-width: 300px) {
  .container {
    width: 100%;
    height: 100%;
  }
}
