.register {
  height: 70%;
  display: flex;
  justify-content: center;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  font-weight: 500;
  font-size: 15px;
  padding: 30px;
  border: 1px solid #ccc;
  /* text-align: center; */
}

.register__form input {
  padding: 4px;
  width: 300px;
  /* max-width: 300px; */
}

.register__name,
.register__email,
.register__password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  background-color: #ff9448;
  border-radius: 10px;
  width: 100%;
  outline: none;
  cursor: pointer;
  border: none;
}

.register p {
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  .register__form {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .register__form input {
    max-width: 200px;
  }
}
